  <launch>
    
    <node pkg="map_tf" type="frame_tf2_broadcaster"
          name="tf_broadcaster">
	  <param name="x1"  value="7.96" />
	  <param name="y1"  value="12.11" />
	  <param name="yaw1"  value="-1.37" />
	  <param name="x2"  value="11.10" />
	  <param name="y2"  value="-16.47" />
	  <param name="yaw2"  value="0.15" />
	  <param name="x3"  value="41.88" />
	  <param name="y3"  value="-10.200" />
	  <param name="yaw3"  value="1.41" />
	  <param name="x4"  value="38.96" />
	  <param name="y4"  value="12.22" />
	  <param name="yaw4"  value="-2.98" />
    </node>

  </launch>
